@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  overflow-x: hidden;
}

em, i, address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

fieldset {
  border: none;
}

.blind, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.inner, .modalWrap header .modalAct {
  width: 100%;
  max-width: 1560px;
  padding: 0 60px;
}

.modalWrap .contents, .homeNews, .tech, .highCustom, .product, .videoSection {
  width: 100%;
  max-width: 1416px;
  padding: 0 60px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15.5px;
}

.subtitle {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #f47725, #EA002C);
  font-size: 12.5px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 12.5px;
}

.subtitle2 {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #0072c6, #68127a);
  font-size: 15px;
  font-weight: 600;
  line-height: 170%;
  margin: 40px 0 14px 0;
}

.videoSection {
  padding: 100px 0;
}
.videoSection .videoFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.videoSection .moduleHeader {
  order: 2;
  margin-left: 62px;
}
.videoSection .moduleHeader h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 12.5px;
}
.videoSection .moduleHeader p {
  font-size: 15.5px;
  line-height: 175%;
  margin-bottom: 30px;
}
.videoSection .moduleHeader ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin-bottom: 21px;
}
.videoSection .moduleHeader ul li b {
  margin-right: 5px;
}
.videoSection .moduleHeader ul li::before {
  content: "";
  display: block;
  background: url("../images/greencheck.svg") center center/cover;
  width: 20px;
  height: 20px;
  margin-right: 14px;
}

.openVideo {
  width: 100%;
  max-width: 524px;
  padding-top: 40%;
  background: url("../images/videoimg.jpeg") center center/cover;
  position: relative;
  border-radius: 4px;
}
.openVideo:hover .whiteBack {
  height: 80px;
}
.openVideo:hover p {
  opacity: 1;
  transition: height 0.4s;
}
.openVideo .videoTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  padding: 16px 24px;
}
.openVideo .whiteBack {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(225, 225, 225, 0.6);
  width: 100%;
  height: 40px;
  transition: height 0.4s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.openVideo p {
  opacity: 0;
  font-weight: 600;
  font-size: 11.5px;
  line-height: 150%;
  color: rgb(255, 255, 255);
  position: relative;
}
.openVideo img {
  width: 48px;
  height: 48px;
  position: relative;
}

.product {
  padding: 100px 0;
  background-color: rgba(225, 225, 225, 0.2);
}
.product .moduleHeader {
  text-align: center;
}
.product .moduleHeader h2 {
  font-size: 12.5px;
  line-height: 15px;
  font-weight: 600;
  margin-bottom: 7.5px;
}
.product .moduleHeader h3 {
  margin-bottom: 12px;
  font-size: 27px;
  font-weight: 600;
}
.product .moduleHeader p {
  font-size: 15.5px;
  line-height: 175%;
  padding: 0 7em;
}
.product .btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 42px;
}
.product .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}
.product .list .items {
  flex-basis: 25%;
  transition: 0.4s;
  border-radius: 4px;
  overflow: hidden;
}
.product .list .items .green {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-end;
  transition: 0.4s;
  transform: translateY(50px);
}
.product .list .items .green span {
  justify-self: center;
}
.product .list .items a {
  height: 400px;
  display: block;
  position: relative;
  padding: 24px;
  text-align: center;
  color: #fff;
}
.product .list .items a dl {
  padding-top: 20px;
  position: relative;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.6s;
}
.product .list .items a dt {
  display: block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #f47725, #EA002C);
  font-weight: 600;
  margin-bottom: 10px;
}
.product .list .items a dd {
  font-weight: 600;
  line-height: 1.7;
  font-size: 19px;
}
.product .list .items a::before {
  content: "";
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.7) 7.21%, rgba(0, 0, 0, 0) 92.82%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  opacity: 0;
}
.product .list .items:hover {
  flex-basis: 40%;
}
.product .list .items:hover dl {
  opacity: 1;
  transform: translateY(0);
}
.product .list .items:hover a:before {
  opacity: 1;
}
.product .list .items:hover .green {
  transform: translateY(0);
}
.product .list .a {
  background: url("../images/productTilesPics_0.webp") center center/cover;
}
.product .list .b {
  background: url("../images/productTilesPics_1.webp") center center/cover;
  margin-top: 160px;
}
.product .list .c {
  background: url("../images/productTilesPics_2.webp") center center/cover;
}
.product .list .d {
  background: url("../images/productTilesPics_3.webp") center center/cover;
  margin-top: 160px;
}

.highCustom {
  padding: 100px 0;
}
.highCustom .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 30px;
}
.highCustom .content h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 12.5px;
}
.highCustom .content p {
  font-size: 15.5px;
  font-weight: 400;
  line-height: 175%;
}
.highCustom .content .light {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.highCustom .details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 50%;
}
.highCustom .details .plug {
  width: 135px;
}
.highCustom .details .star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}
.highCustom .details .star span {
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}
.highCustom .map {
  background: url("../images/us_map.svg") no-repeat center 40px/contain;
  height: 350px;
  order: 2;
  position: relative;
  flex-basis: 50%;
}
.highCustom .map img {
  position: absolute;
  width: 24px;
}

.tech {
  padding: 100px 0;
  background-color: rgba(225, 225, 225, 0.2);
}
.tech .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.tech .content h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 12.5px;
}
.tech .content p {
  font-size: 15.5px;
  font-weight: 400;
  line-height: 175%;
}
.tech .cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 20px;
  margin-top: 62px;
  min-height: 288px;
  color: rgb(255, 255, 255);
}
.tech .cards .items {
  flex-basis: 33.3333333333%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 24px 36px;
}
.tech .cards .items:nth-child(1) {
  background: url("../images/colorTilesPics_1.webp") center center/cover;
}
.tech .cards .items:nth-child(1):after {
  background-image: linear-gradient(90deg, #fbbc05, #f47725 99.96%);
}
.tech .cards .items:nth-child(2) {
  background: url("../images/colorTilesPics_2.webp") center center/cover;
}
.tech .cards .items:nth-child(2):after {
  background-image: linear-gradient(90deg, #97c54d, #3b79b4);
}
.tech .cards .items:nth-child(3) {
  background: url("../images/colorTilesPics_3.webp") center center/cover;
}
.tech .cards .items:nth-child(3):after {
  background-image: linear-gradient(90deg, #0072c6, #68127a);
}
.tech .cards .items:after {
  content: "";
  height: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg, #fbbc05, #f47725 99.96%);
}
.tech .cards .items h4 {
  font-weight: 600;
  line-height: 1.7;
  font-size: 19px;
  margin-bottom: 12px;
  position: relative;
}
.tech .cards .items p {
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  position: relative;
}
.tech .cards .items::before {
  content: "";
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.7) 7.21%, rgba(0, 0, 0, 0) 92.82%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  opacity: 1;
}

.homeNews {
  padding: 100px 0;
}
.homeNews .content {
  text-align: center;
}
.homeNews .content h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 12.5px;
}
.homeNews .content p {
  font-size: 15.5px;
  font-weight: 400;
  line-height: 175%;
  margin-bottom: 42px;
}
.homeNews .newsCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 82px;
  grid-gap: 20px;
}
.homeNews .newsCards li {
  outline: 1px solid red;
}
.homeNews .newsCards li:first-child {
  grid-row: 1/3;
}
.homeNews .newsCards .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.homeNews .newsCards .onlyPics {
  display: flex;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 13.5px 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 11.5px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3px;
  border-radius: 4px;
  position: relative;
}
.btn:hover .icon {
  background-position: left center;
}
.btn::after {
  content: "";
  position: absolute;
  right: 44px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  height: calc(100% - 8px);
}
.btn span {
  padding: 0 24px;
  flex: 1;
}
.btn .icon {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url("../images/arrow_double_right.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 18px;
  margin: 0 13px;
  transition: 0.2s;
}
.btn .play {
  background-image: url("../images/arrow_double_play.svg");
}
.btn.red {
  background-image: linear-gradient(83deg, #f47725 7.21%, #EA002C 92.82%);
  filter: drop-shadow(0px 8px 20px rgba(238, 118, 35, 0.4));
}
.btn.blue {
  background-image: linear-gradient(83deg, #0072c6 7.21%, #68127a 92.82%);
}
.btn.green {
  background-image: linear-gradient(83deg, #97c54d 7.21%, #3b79b4 92.82%);
}

.modalWrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: bisque;
  height: 100vh;
  display: none;
}
.modalWrap header {
  background-image: linear-gradient(90deg, #0072C6, #68127A);
}
.modalWrap header .modalAct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}
.modalWrap header .modalAct h2 {
  width: 45px;
  height: 36px;
  background-image: url("../images/logoMark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}
.modalWrap header .modalAct button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalWrap.open {
  display: block;
}
.modalWrap .contents {
  height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalWrap .contents .frame {
  padding-top: 56.25%;
  max-width: 756px;
  width: 100%;
  position: relative;
}
.modalWrap .contents iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.pageHeader {
  padding: 12px 0;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-bottom-width: 1px;
}
.pageHeader .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageHeader .pageHeaderItems ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageHeader .pageHeaderItems ul li {
  font-weight: 500;
  font-size: 15px;
}
.pageHeader .pageHeaderItems ul li a {
  padding: 0 12.8px;
}

.visualSlide {
  position: relative;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.visualSlide .slideWrap {
  position: relative;
  flex: 1;
}
.visualSlide .slideWrap .list {
  display: flex;
}
.visualSlide .slideWrap .list li {
  width: 50%;
  height: calc(100vh - 200px);
  filter: blur(10px);
}
.visualSlide .slideWrap .list li:not(:first-child) {
  display: none;
}
.visualSlide .visualContent {
  position: absolute;
  left: 0;
  top: 300px;
}
.visualSlide .slideBottom {
  flex: 0 0 120px;
}
.visualSlide .a {
  background-color: yellowgreen;
  background-image: url("../images/slidePics_0.webp");
}
.visualSlide .b {
  background-color: wheat;
}
.visualSlide .c {
  background-color: blueviolet;
}
.visualSlide .contents h2 {
  font-size: 12.5px;
  font-weight: 600;
  line-height: 150%;
}
.visualSlide .contents h3 {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 20px;
}
.visualSlide .contents p {
  font-size: 15.5px;
  font-weight: 400;
  line-height: 175%;
}
.visualSlide .visualContent h3 {
  font-size: 15px;
  font-weight: 600;
}

.slideBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideBottom .pageWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 2;
}
.slideBottom .pageWrap .pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideBottom .logoSlide .logoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

@media all and (max-width: 1644px) {
  .modalWrap .contents {
    max-width: 944px;
  }
}
@media all and (max-width: 899px) {
  .modalWrap .contents {
    max-width: 804px;
  }
}
@media all and (max-width: 720px) {
  .modalWrap .contents {
    max-width: 640px;
  }
}

/*# sourceMappingURL=common.css.map */
