@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  overflow-x: hidden;
}

em, i, address {
  font-style: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

fieldset {
  border: none;
}

.blind, legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.inner, .modalWrap header .modalAct {
  width: 100%;
  max-width: 1560px;
  padding: 0 60px;
}

.modalWrap .contents {
  width: 100%;
  max-width: 1416px;
  padding: 0 60px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15.5px;
}

.btn {
  padding: 13.5px 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 11.5px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.3px;
  border-radius: 4px;
  position: relative;
  filter: drop-shadow(0px 8px 20px rgba(238, 118, 35, 0.4));
}
.btn:hover .icon {
  background-position: left center;
}
.btn::after {
  content: "";
  position: absolute;
  right: 44px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  height: calc(100% - 8px);
}
.btn span {
  padding: 0 24px;
}
.btn .icon {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url("../images/arrow_double_right.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 18px;
  margin: 0 13px;
  transition: 0.2s;
}
.btn.red {
  background-image: linear-gradient(83deg, #f47725 7.21%, #EA002C 92.82%);
}
.btn.blue {
  background-image: linear-gradient(83deg, #0072c6 7.21%, #68127a 92.82%);
}
.btn.green {
  background-image: linear-gradient(83deg, #97c54d 7.21%, #3b79b4 92.82%);
}

.modalWrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: bisque;
  height: 100vh;
  display: none;
}
.modalWrap header {
  background-image: linear-gradient(90deg, #0072C6, #68127A);
}
.modalWrap header .modalAct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}
.modalWrap header .modalAct h2 {
  width: 45px;
  height: 36px;
  background-image: url("../images/logoMark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}
.modalWrap header .modalAct button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalWrap.open {
  display: block;
}
.modalWrap .contents {
  height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalWrap .contents .frame {
  padding-top: 56.25%;
  max-width: 756px;
  width: 100%;
  position: relative;
}
.modalWrap .contents iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.openVideo {
  width: 524px;
  height: 524px;
  background: url("../images/videoimg.jpeg") center center/cover;
}

.pageHeader {
  padding: 12px 0;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-bottom-width: 1px;
}
.pageHeader .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageHeader .red {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageHeader .pageHeaderItems ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageHeader .pageHeaderItems ul li {
  font-weight: 500;
  font-size: 15px;
}
.pageHeader .pageHeaderItems ul li a {
  padding: 0 12.8px;
}

.visualSlide {
  position: relative;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.visualSlide .slideWrap {
  position: relative;
  flex: 1;
}
.visualSlide .slideWrap .list {
  display: flex;
}
.visualSlide .slideWrap .list li {
  width: 100%;
  height: calc(100vh - 200px);
  filter: blur(10px);
}
.visualSlide .slideWrap .list li:not(:first-child) {
  display: none;
}
.visualSlide .visualContent {
  position: absolute;
  left: 0;
  top: 300px;
}
.visualSlide .slideBottom {
  flex: 0 0 120px;
}
.visualSlide .a {
  background-color: yellowgreen;
}
.visualSlide .b {
  background-color: wheat;
}
.visualSlide .c {
  background-color: blueviolet;
}
.visualSlide .contents h2 {
  font-size: 12.5px;
  font-weight: 600;
  line-height: 150%;
}
.visualSlide .contents h3 {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 20px;
}
.visualSlide .contents p {
  font-size: 15.5px;
  font-weight: 400;
  line-height: 175%;
}
.visualSlide .visualContent h3 {
  font-size: 15px;
  font-weight: 600;
}

.slideBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideBottom .pageWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 2;
}
.slideBottom .pageWrap .pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideBottom .logoSlide .logoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

@media all and (max-width: 1644px) {
  .modalWrap .contents {
    max-width: 944px;
  }
}
@media all and (max-width: 899px) {
  .modalWrap .contents {
    max-width: 804px;
  }
}
@media all and (max-width: 720px) {
  .modalWrap .contents {
    max-width: 640px;
  }
}

/*# sourceMappingURL=common.css.map */
