.companyPart{
    .slide{
        background: url($imgUrl + 'texture.webp') no-repeat center center/cover;
        @include flex($c: 115px);
        padding: 45px 0;
        .inner{
            @extend %mainInner;
        }
        .com_main{
            @include flex($j:space-around);
            column-gap: 40px;
            
            h1{
                font-weight: 600;
                line-height: 1.5;
                font-size: 33px;
                @include clip;
            }
            p{
                font-weight: 400;
                line-height: 1.75;
                margin-top: 12px;
            }

            .com_pic{
                   
                img{
                    width: 148px;
                    
                }
            }
        }
    }
    
}

.table{
    @extend %mainInner;
    ul{
        li{
            dl{
                @include flex;

                dt,dd {
                    &:before {
                        display:block;
                        text-transform:uppercase;
                        color:#999;
                        font-size:0.8em;
                        @extend %pcBlind;
                    }
                }
                dt{
                    flex-grow:1;
                    &:before{
                        content:'Patent Name';
                        display: block;
                    }
                }

                dd{
                    flex-basis: 15%;
                    flex-shrink: 0;
                    &:nth-child(2){
                        &:before{
                            content:'Patent Type';
                            display: block;
                        }
                    }
                }
                dd{
                    &:nth-child(3){
                        &:before{
                            content:'Resigration Number';
                            display: block;
                        }
                    }
                }
                dd{
                    &:nth-child(4){
                        &:before{
                            content:'Resigration Date';
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.com_market{
    padding: 100px 0;
    .box{
        @include flex($c:40px);
        img{
            width: 500px;
        }

        .box_content{
            h3{
                font-size:27px;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: 12px;
            }
            p{
                line-height: 1.75;
            }
            .red{
                margin-top: 42px;
            }
        }
    }
}

