.companyPart{
    .slide{
        background: url($imgUrl + 'texture.webp') no-repeat center center/cover;
        @include flex($c: 115px);
        padding: 45px 0;
        .inner{
            @extend %mainInner;
        }
        .com_main{
            @include flex($j:space-around);
            column-gap: 40px;
            
            h1{
                font-weight: 600;
                line-height: 1.5;
                font-size: 33px;
                @include clip;
            }
            p{
                font-weight: 400;
                line-height: 1.75;
                margin-top: 12px;
            }

            .com_pic{
                   
                img{
                    width: 148px;
                    
                }
            }
        }
    }
    
}

.table{
    @extend %mainInner;
    ul{
        li{
            dl{
                @include flex;

                dt,dd {
                    &:before {
                        display:block;
                        text-transform:uppercase;
                        color:#999;
                        font-size:0.8em;
                        @extend %pcBlind;
                    }
                }
                dt{
                    flex-grow:1;
                    &:before{
                        content:'Patent Name';
                        display: block;
                    }
                }

                dd{
                    flex-basis: 15%;
                    flex-shrink: 0;
                    &:nth-child(2){
                        &:before{
                            content:'Patent Type';
                            display: block;
                        }
                    }
                }
                dd{
                    &:nth-child(3){
                        &:before{
                            content:'Resigration Number';
                            display: block;
                        }
                    }
                }
                dd{
                    &:nth-child(4){
                        &:before{
                            content:'Resigration Date';
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.com_market{
    padding: 100px 0;
    .box{
        @include flex($c:40px);
        img{
            width: 500px;
        }

        .moduleHeader{
            h3{
                font-size:27px;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: 12px;
            }
            p{
                line-height: 1.75;
            }
            .red{
                margin-top: 42px;
            }
        }
    }
}

.network{
    padding: 100px 0;
    background-color: rgba(225, 225, 225, 0.2);
    .moduleHeader{
        text-align: center;
        h3{
            font-size:27px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 12px;
        }
        p{
            line-height: 1.75;
        }
        .red{
            margin-top: 42px;
        }
        .icon{
            background-image: url($imgUrl + 'arrow_double_globe.svg');
        }
    }

}

.think{
    padding: 100px 0;

    .moduleHeader{
        text-align: center;
        h3{
            font-size:27px;
            font-weight: 600;
            line-height: 1.5;
        }
    }

    .cards{
        @include flex($a:stretch ,$c:20px);
        margin-top: 62px;
        min-height: 288px;
        color: $whText;

        .items{
            flex-basis: calc(100% / 3);
            position: relative;
            border-radius: 4px;
            overflow: hidden;
            display:flex;
            flex-direction:column;
            justify-content:flex-end;
            padding: 0 24px 36px;

            $bgbar: $gradientYellow, $gradientGreen, $gradientBlue;

            @for $i from 1 through 3{
                &:nth-child(#{$i}) {

                    background: url($imgUrl + 'companyStdContainerPics_#{$i}.webp') center center/cover;
                    &:after{
                        background-image: nth($bgbar, $i);
                    }
                }
            }
            &:after{
                content:'';
                height: 12px;
                position: absolute;
                bottom:0;left:0;right:0;
                background-image: $gradientYellow;
            }

            h4{
                font-weight: 600;
                line-height: 1.7;
                font-size: 19px;
                margin-bottom:12px;
                position: relative;
                
            }
            p{
                font-weight: 400;
                line-height: 1.4;
                font-size: 14px;
                position: relative;
                
            }

            &::before{
                content:'';
                @include gd( rgba(black,0.7), rgba(black, 0), -180);
                position: absolute;
                top:0;bottom:0;right:0;left:0;
                display: block;
                opacity:1;
            }
        }
    }
}

.advantage{
    padding: 100px 0;
    background-color: rgba(225, 225, 225, 0.2);
    .moduleHeader{
        text-align: center;
        h3{
            font-size:27px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 12px;
        }
        p{
            line-height: 1.75;
        }
    }    

    .coreStrengths{
        padding-bottom: 100px;
        .subtitle3{
            @include flex;
            margin-top: 80px;
        }
        .cards{
            @include flex($a:stretch ,$c:20px);
            margin-top: 62px;
            min-height: 288px;
    
            .items{
                flex-basis: calc(100% / 3);
                position: relative;
                border-radius: 4px;
                overflow: hidden;
                display:flex;
                flex-direction:column;
                justify-content:center;
                padding: 0 24px 36px;
                text-align: center;
                background-color: #fff;
    
                $bgbar: $gradientYellow, $gradientGreen, $gradientBlue;
                @for $i from 1 through 3{
                    &:nth-child(#{$i}) {
                        &:after{
                            background-image: nth($bgbar, $i);
                        }
                    }
                }
    
                &:after{
                    content:'';
                    height: 12px;
                    position: absolute;
                    bottom:0;left:0;right:0;
                    background-image: $gradientYellow;
                }
                h4{
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 1.5;
    
                    &::before{
                        content:'';
                        display: block;
                        background: url($imgUrl + 'greencheck.svg') center center/cover;
                        width: 40px;
                        height: 40px;
                        margin: 28px auto;
                    }
                }
    
                p{
                    line-height: 1.7;
                    font-size: 14px;
                }
            }
        }

    }

    .fourCards{
        .subtitle3{
            @include flex;
            margin-bottom: 40px;
        }

        .cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 34px;

            .items{
                text-align: center;
                position: relative;
                overflow: hidden;
                background-color: #fff;
                padding: 40px 24px;
                border-radius: 4px;
                
                &:before{
                    content:'';
                    height: 100%;
                    width: 13px;
                    position: absolute;
                    bottom:0;left:0;
                    background-image: $gradientGreen;
                }

                $bgbar: $gradientRed, $gradientYellow, $gradientGreen, $gradientBlue;
                @for $i from 1 through 4{
                    &:nth-child(#{$i}) {
                        &:after{
                            background-image: nth($bgbar, $i);
                        }
                    }
                }

                h4{
                    font-weight: 600;
                    font-size: 21px;
                    line-height: 1.5;
                }
                p{
                    line-height: 1.7;
                    font-size: 14px;
                }
            }
        }
    }
}

.patents{
    padding: 100px 0;
    background-color: rgba(225, 225, 225, 0.2);
    .moduleHeader{
        text-align: center;
        max-width: 780px;
        margin: 0 auto;
        div{
            h3{
                font-size:27px;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: 12px;
            }
            p{
                line-height: 1.75;
            }
        }
    }    

    .collaborative{
        .subtitle3{
            margin: 100px 0 48px;
        }
    }

    .collaboDivide{
        @include flex($j: stretch);
        .certificate{
            @include flex;
            column-gap: 22px;
            img{
                width: 230px;
            }
        }

        .info{
           background-color: #fff;
           @include flex($a: flex-start);
           flex-direction: column;
           column-gap: 8px;
           margin-left: 40px;
           li{
            padding: 8px 8px 0 40px;
           }
        }
    }
}



