.inquiryForm{
    .formTitle{
        .subtitle2{
            font-size: 22px;
            font-weight: 600;
            line-height: 1.5;
        }
        p{
            font-size: 14px;
        }
        &:after{
            content:"";
            display: block;
            height:1px;
            width: 100%;
            background-color: rgba(0,0,0,0.2);
            margin: 40px 0;
        }
    }

    form{
        flex-grow: 1;
        .names{
            @include flex;

            input{
                width: 100%;
            }
        }
        .nums{
            @include flex;

            input{
                width: 100%;
            }
        }
    }
}

.inquiryDivide{
    @include flex($j:stretch);
    height: 350px;
    .side{
        background: url($imgUrl + 'contact.webp') no-repeat center center/cover;
        flex-basis: 336px;
        height: 200px;
        position: sticky;


        .white{
            background-color: #fff;
        }
        .email{
            background-image: url($imgUrl + 'email.svg');
        }
    }

}