#contact{
    .inquiryForm{
        padding-bottom: 100px;
        .formTitle{
            .subtitle2{
                font-size: 22px;
                font-weight: 600;
                line-height: 1.5;
            }
            p{
                font-size: 14px;
                margin: 20px 0 40px;
            }
           
        }
        
    }
    
    .inquiryDivide{
        @include flex($j:stretch, $a:flex-start);
        column-gap: 40px;
    
        .left {
            &::before{
                content:"";
                display: block;
                height:1px;
                width: 100%;
                background-color: rgba(0,0,0,0.2);
            }
            flex-grow: 1;
            grid-template-rows: repeat(3, 1fr);
            column-gap: 20px;
            row-gap: 28px;
            
            
    
            
            .names{
                display: flex;
                flex-wrap: wrap;
                column-gap: 20px;
                row-gap: 28px;
                align-content: flex-start;
                margin-top: 40px;

                label{
                    font-size: 14px;
                    margin-bottom: 8px;
                    font-weight: 600;
                    line-height: 1.7;
                }

                input[type=text]{
                    display: block;
                    width: 100%;
                    padding: 12px;
                    border: 1px solid rgba(0,0,0,0.2);
                    border-radius: 4px;
                    font-size: 14px;
                    line-height: 1.5;
                }

                li{
                    flex-basis: calc(50% - 10px);
                }
            }
    
            li.contactProduct{ 
                flex-basis:100%;
                strong{
                    display: inline;
                    font-size: 11.5px;
                    font-weight: 500;
                    line-height: 1.7;
                }

               
    
              
                .contactPolicy{
                    .check{
                        @include flex;
                        margin-bottom: 20px;
                        &::before{
                            content:"";
                            display: block;
                            background: url($imgUrl + 'greencheck.svg')no-repeat center center/cover;
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                        }
                    }
                    margin-top: 28px;
                    color: rgba(0,0,0,0.5);
                    font-weight: 500;
                    font-size: 11.5px;
                    line-height: 1.7;
    
                    span{
                        @include clip;
                    }
                }
                .red{
                    margin-top: 30px;
                    width: 100%;
    
                    span{
                        text-align: center;
                    }
                }

                dl{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap:20px;
                    dt {
                        @include lineHeader;
                        grid-column: 1/3;
                        margin-top: 20px;
                    }
                    dd {
                        label {
                            border-radius: 4px;
                            background-color:#f5f5f5;
                            padding: 12px;
                            display: flex;
                            flex-basis: calc(50% - 10px);
                            position: relative;
                            align-items: center;
    
                            img{
                                width: 80px;
                                height: 80px;
                                margin-right: 18px;
                            }
    
                           
                            strong{
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 1.7
                            }
                            em{
                                color: rgba(0,0,0,0.5);
                                font-size: 13px;
                                line-height: 1.7
                            }
                             
                        }
                    }
                }
                
                   
                
            }

            .longText{
                margin-top: 28px;
                p{
                    margin-bottom: 8px;
                }
                font-weight: 500;
                line-height: 1.5;
                font-size: 14px;
                textarea{
                    height: 160px;
                    width: 100%;
                    color: rgba(0,0,0,0.4);
                }
            }
            
            .policyAgree {
                .check {
                    background: url($imgUrl + 'greencheck.svg')no-repeat left center/20px auto;
                    padding-left:40px; 
                    margin-bottom: 20px;
                   
                }
            }
        }

        .side{
            flex-basis: 336px;
            position: sticky;
            @include shadow;
            border-radius: 4px;
            flex-shrink:0;
            overflow: hidden;
            background-color: #fff;
            .white{
                h4{
                    font-weight: 600;
                    line-height: 1.7;
                    font-size: 19px;
                    margin-bottom: 12px;
                }
                p{
                    line-height: 1.75;
                    margin-bottom: 26px;
                }
                padding: 20px;
            }
            .btn{
                width: 100%;
                text-align: center;
            }
            .email{
                background-image: url($imgUrl + 'email.svg');
            }
            
        }
    
    }

    .ourLocation{    
        .formTitle{
            &::before{
                content:"";
                display: block;
                height:1px;
                width: 100%;
                background-color: rgba(0,0,0,0.2);
            }
            .subtitle2{
                font-size: 22px;
            }
        }

        .locationCard{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 40px;
            row-gap: 40px;
            margin-top: 60px;
            padding-bottom: 100px;
            li{
                @include scaleThumb(190px);
              

                h3{
                    margin: 24px 0 12px;
                    font-size: 19px;
                    font-weight: 600;
                    line-height: 1.7;
                }
                p{
                    color: rgba(0,0,0,0.6);
                    line-height: 1.7;
                    font-size: 14px;
                }
            }
        }
    }
    .pageFooter{
        margin-top: 0px;
        padding-top: 0px;
    }

}

.test {
    border:1px solid red;
    background-color:gold;
}