.inquiryForm{
    .formTitle{
        .subtitle2{
            font-size: 22px;
            font-weight: 600;
            line-height: 1.5;
        }
        p{
            font-size: 14px;
        }
        &:after{
            content:"";
            display: block;
            height:1px;
            width: 100%;
            background-color: rgba(0,0,0,0.2);
            margin: 40px 0;
        }
    }

    form{
        flex-grow: 1;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        
        input{
            display: block;
            width: 100%;
            padding: 12px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 4px;
            font-size: 14px;
            line-height: 1.5;
        }

        label{
            font-size: 14px;
            margin-bottom: 8px;
            font-weight: 600;
            line-height: 1.7;
        }
        .names{
            display: flex;
           
        }

        .nums{
            display: flex;
        }

        .field{
            display: flex;
        }
    }
}

.inquiryDivide{
    @include flex($j:stretch);
    height: 350px;
    .side{
        background: url($imgUrl + 'contact.webp') no-repeat center center/cover;
        flex-basis: 336px;
        height: 200px;
        position: sticky;
    
        .white{
            background-color: #fff;
        }
        .email{
            background-image: url($imgUrl + 'email.svg');
        }
    }

}