.coreSummary{
    display: flex;
    align-items: center;
    font-size: 600;
    line-height: 1.7;
    
    
    li{
        &::before{
            content: '';
            display: inline-block;
            background: url($imgUrl + 'greencheck.svg') center center/cover;
            // @include bg('greencheck.svg');
            width: 20px;
            height: 20px;
            margin-right: 14px;
            vertical-align: middle;
        }
    }
}

// @include bg('aaa.jpg');
// @include bg('aaa.jpg', contain);
// @include bg('aaa.jpg', $p:left top);