.inner{
    @extend %hbInner;
}


.pageHeader{
    
    @include border;
    
    //     h1 {
    //         @include border(right,1)
    // }
    
    .headerContainer{
        @include flex;
    }
    .red{
        @include flex($j: center);
    }

    .pageHeaderItems{
        ul{
            @include flex;
            li{
                font-weight: 500;
                font-size: 15px;
                a{
                    padding: 0 12.8px;
                }
            }
        }
    }
}