@keyframes bounceLogo {
    0% { transform:translateY(0) }
    100% { transform:translateY(3px)}
}

.pageHeader{
    position: fixed;
    top:0;right:0;left:0;
    z-index:99;
    background-color: #fff;
    .inner{
        @extend %hbInner;
    }
    padding: 12px 0;
    @include border;

    h1 {
        transform:translateX(100px);
        animation-name:bounceLogo;
        animation-duration:0.6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        // animation-delay:1s;
        animation-fill-mode: both;
        

        /*
        animation:bounceLogo 0.6s 0.1s infinite linear alternate both;
        */
    }
    
    
    .headerContainer{
        @include flex;
        column-gap: 20px;
    
    }

    .mBtn{
        @include gd;
        width: 44px;
        height: 44px;
        @include flex($j:space-around);
        border-radius: 4px;
        display: none;

        .close{
            display: none;
        }

        &.open{
            .vento{
                display: none;
            }

            .close{
                display: block;
            }
        }

    }

   
    .gnb{
        .depth_container{
            @include flex;
            position: relative;
            .depth_list{
                font-weight: 500;
                font-size: 15px;

                a{
                    display: block;
                    padding: 0 12.5px;
                }
                &.on{
                    .modal_box{
                        display: flex;
                    }
                    
                }
                
                
                .modal_box{
                    position: absolute;
                    top:60px;right:-250px;
                    background-color: #fff;
                    z-index:55555;
                    @include flex;
                    max-width: 900px;
                    width: 100vw;
                    display: none;
                    & > li{
                        flex-basis: 50%;
                        padding: 40px;

                        &:last-child{
                            background-color: $bg;
                        }
                    }
                    
                    .title{
                        @include flex;
                        padding-bottom: 30px;
                        border-bottom: 1px solid $line;
                    }

                        img{
                            width: 90px;
                            background-color: #f0f0f0;
                        }
                        .modal_list{
                            margin-top: 40px;
                            li{
                                margin-bottom:20px;
                                a{
                                    @include flex($j:flex-start,$c:12px);
                                }
                                span{
                                    color: #939393;
                                    font-weight: 300;
                                    font-size: 14px;
                                }
                            }
                            
                        }
                }
            }
        }
    }
}
