.videoSection{
    @extend %mainInner;
    padding: 100px 0;
   
    .videoFlex{
        @include flex;
    }
    .moduleHeader{
        order:2;
        margin-left: 62px;
        h2{
            font-size: 12.5px;
            font-weight: 600;
            line-height: 15px;
        }

        h3{
            font-size: 27px;
            font-weight: 600;
            line-height: 150%;
            margin-bottom: 12.5px;
        }

        p{
            font-size: 15.5px;
            line-height: 175%;
        }

        ul{
            li{
                    background: url($imgUrl + 'greencheck.svg') center center/cover;
                    width: 20px;
                    height: 20px;
            }
        }
    }
}

.openVideo{
    width: 100%;
    max-width: 524px;
    height: 524px;
    background: url($imgUrl + 'videoimg.jpeg') center center/cover;
    @include position($p:relative);
    border-radius: 4px;
    p{
        @include position($p:absolute);
        bottom:0;
        font-weight: 600;
        font-size: 11.5px;
        line-height: 150%;
        color: $whText;
    }

    img{
        @include position($p: absolute);
        bottom:16px;left:24px;
        width: 48px;
        height: 48px;
    }

}