.videoSection{
    @extend %mainInner;
    padding: 100px 0;
   
    .videoFlex{
        @include flex;
    }
    .moduleHeader{
        order:2;
        margin-left: 62px;
        h2{
            @include clip;
            font-size: 12.5px;
            font-weight: 600;
            line-height: 15px;
        }

        h3{
            font-size: 27px;
            font-weight: 600;
            line-height: 150%;
            margin-bottom: 12.5px;
        }

        p{
            font-size: 15.5px;
            line-height: 175%;
            margin-bottom: 30px;
        }

        ul{
            li{
                b{
                    margin-right: 5px;
                }
                &::before{
                    content:'';
                    display: block;
                    background: url($imgUrl + 'greencheck.svg') center center/cover;
                    width: 20px;
                    height: 20px;
                    margin-right:14px;
                }
                @include flex($j:flex-start);
                    font-size: 16px;
                    margin-bottom: 21px;
            }
        }
    }
}

.openVideo{
    width: 100%;
    max-width: 524px;
    padding-top: 40%;
    background: url($imgUrl + 'videoimg.jpeg') center center/cover;
    @include position($p:relative);
    border-radius: 4px;

    &:hover{
        .whiteBack{
            height:80px;
        }
        p{
            opacity: 1;
            transition: height 0.4s;
        }
    }
    
    .videoTitle{
        @include flex($j:flex-start, $c: 20px);
        padding: 16px 24px;
    }
    .whiteBack{
        @include position($p:absolute);
        background-color: rgba(225, 225, 225, 0.6);
        width: 100%;
        bottom:0;
        left:0;
        height: 40px;
        transition: height 0.4s;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    p{
        opacity: 0;
        font-weight: 600;
        font-size: 11.5px;
        line-height: 150%;
        color: $whText;
        position: relative;
    }

    img{
        width: 48px;
        height: 48px;
        position: relative;
    }
    

}

.product {
    @extend %mainInner;
    padding: 100px 0;
    background-color: rgba(225, 225, 225, 0.2);
    .moduleHeader{
        text-align: center;

        h2{
            font-size: 12.5px;
            line-height: 15px;
            font-weight: 600;
            margin-bottom: 7.5px;
        }

        h3{
            margin-bottom: 12px;
            font-size: 27px;
            font-weight: 600;
        }

        p{
            font-size: 15.5px;
            line-height: 175%;
        }
    }

    .btnWrap{
        @include flex($j:center);
        gap: 20px;
        margin-top: 42px;
    }

    .list{
        @include flex($c:12px);
        li{
            a{
                height:400px;
                display: block;
                position: relative;
                &::before{
                    content:'';
                    background-color: red;
                    position: absolute;
                    top:0;bottom:0;right:0;left:0;
                    display: block;
                }
            }
            background: url($imgUrl + 'productTilesPics_0.webp') center center/cover;
            flex-basis:25%;
            border-radius: 4px;
        }
    }
}