@mixin flex($j:space-between, $a: center, $d: null, $c:null, $r: null){
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-direction: $d;
    column-gap: $c;
    row-gap: $r;
     
}

@mixin fixed ($l:0, $t:0, $r:0, $b:0){
    position: fixed;
    left:$l;
    top: $t;
    right: $r;
    bottom: $b
}


@mixin line{
    content:'';
    position: absolute;
    right: 44px;
    width: 1px;
    background-color: rgba(#fff, 0.5) ;
    height: calc(100% - 8px);
}

 @mixin pos($l:0, $t:0, $r:null, $b:null, $p:absolute) {
    position: $p;
    top:$t;
    right:$r;
    bottom: $b;
    left: $l;
}

@mixin clip{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: $gradientRed;
}

@mixin pul{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: $gradientBlue;
}

@mixin border($p:bottom,$alpha:0.15) { 
    border:0px solid rgba(0,0,0, $alpha); 
    border-#{$p}-width:1px;
}

@mixin gd($c1:#f47725, $c2: #EA002C, $deg:83){
    background-image: linear-gradient($deg + deg ,$c1 7.21%, $c2 92.82%);
}

// @include gd(orange, red, 45);

// linear-gradient(83deg, #f47725 7.21%, #ea002c 92.82%);