.modalWrap{
    @include fixed;
    background-color: bisque;
    height: 100vh;
    $header : 68px;

    // @at-root .modalWrap {
    //     height:$header;
    //     color:red;
    // }

    header{
        height: $header;
        background-image: linear-gradient(90deg, #0072C6, #68127A);

        h2{
            background-image: url(../images/logoMark.svg);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center center;
        }
    }
    display:none;
    &.open {
        display:block;
    }

    .contents{
        height:calc(100vh - #{$header});
        @extend %mainInner;

     
        @include flex($j: center);

        .frame {
            padding-top:56.25%;   
            max-width:756px; 
            width:100%; 
            position: relative; 
        }
        iframe{ 
            width: 100%; 
            height:100%;
            position: absolute;
            left:0;top:0;
        }
    }
}

 