.news{
    padding: 100px 0;
    .newsCard{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 40px;

        
        li{
            border-radius: 4px;
            position: relative;
            @include shadow;
            overflow: hidden;
            @for $i from 1 through 9{
                &:nth-child(#{$i}) .thumb{
                    background: url($imgUrl + 'newsPics_#{$i}.webp') no-repeat center center/cover;
                }
            }


          .thumb{
          height:180px;
          }
            .contents{
                background-color: #fff;
                padding: 24px;
                @include flex($a:stretch);
                height: 250px;
                flex-direction: column;
                h4{
                    font-size: 17px;
                    font-weight: 600;
                    line-height: 1.7;
                }
                time{
                    background-image: $gradientBlue;
                    font-size: 10.5px;
                    color: $whText;
                    padding: 6px 12px;
                    border-radius: 2px;
                    display:inline-block;
                    align-self: flex-start;
                }
            }
        }
    }
}
