.newsPart{
    .inner{
        @extend %mainInner;
    }
    .news_main{
        @include flex;

        div{
            &:first-child{
                max-width: 715px;
            }
        }
        
        h1{
            font-weight: 600;
            line-height: 1.5;
            font-size: 33px;
            @include clip;
        }
        p{
            font-weight: 400;
            line-height: 1.75;
            margin-top: 12px;
        }

        .news_pic{
               flex-shrink: 0;
               flex-basis: 148px;
        }
    }

}

.news{
    padding: 100px 0;
    .newsCard{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap: 40px;

        
        li{
            @for $i from 1 through 9{
                &:nth-child(#{$i}) {
                    background: url($imgUrl + 'newsPics_#{$i}.webp') center center/cover;
                }
            }

            .contents{
                background-color: #fff;
                time{
                    background-image: $gradientBlue;
                    font-size: 10.5px;
                    color: $whText;
                    padding: 6px 12px;
                    border-radius: 2px;
                    display:block;
                    align-self:flex-start;
                }
            }
        }
    }
}
