 $pc : 1644px;
 $laptop : 1320px;
 $tablet: 899px;
 $mobile: 720px;
 $android : 600px;
 $ios: 375px;

 
 
 @mixin media($width) {
     @media all and (max-width:$width) {
          @content;
     }
 }


 @include media($pc) { 
    .modalWrap { 
        .contents { 
            max-width:944px;
        }
    }
}


@include media($laptop) { 
    %hbInner {
        max-width:none;
        width:auto;
    }
    %mainInner{
        max-width: 1224px;
    }
    .modalWrap { 
        .contents { 
            max-width:804px;
        }
    }

    .headerContainer{
        .gnb{
            display: flex;
        }
    }
 }


@include media($tablet) { 

    .pageHeader{
        h1{
            flex-grow:1;
        }
    }
    .headerContainer{
        .gnb{
            display: none;
            position: fixed;
            top:80px;
            right:0;
            left:0;
            background-color:#fff;

            .depth_container{
                display: block;
                padding: 0 40px;
                .depth_list{
                    font-size: 19px;
                    @include border;
                    a{
                        padding: 28px;
                    }
                    
                   
                }
            }
        }
    
        .mBtn{
            display: flex;
        }
    }
    .modalWrap {
        .contents{
            max-width: 640px;
        }
    }

    .videoSection{
        .videoFlex{
            @include flex;
            flex-direction: column;

            .a{
                order:1
            }

            .b{
                order:4;
            }

            .c{
                order:2;
            }
            .d{
                order:3;
            }
        }
    }

    .customSection{
        .content{
            @include flex;
            flex-direction: column;

            .a{
                order:2;
            }

            .b{
                order:1;
            }

            .c{
                order:3;
            }

            .d{
                order:4;
            }
        }
    }

    .tech{
        .cards{
            .items{
                flex-basis: 250px;
                flex-shrink:0;
            }
        }
    }

    .homeNews{
        .newsCards{
            display: flex;

            li{
                flex-basis: 320px;
                flex-shrink: 0;

                .thumb{
                    display: block;
                    height: 190px;
                }
            }
        }

    }

    
}

 
 