 $pc : 1644px;
 $laptop : 1320px;
 $tablet: 899px;
 $mobile: 720px;
 $android : 600px;
 $ios: 375px;

 
 
 @mixin media($width) {
     @media all and (max-width:$width) {
          @content;
     }
 }


 @include media($pc) { 
    .modalWrap { 
        .contents { 
            max-width:944px;
        }
    }
}


@include media($laptop) { 
    %hbInner {
        max-width:none;
        width:auto;
    }
    %mainInner{
        max-width: 1224px;
    }
    .modalWrap { 
        .contents { 
            max-width:804px;
        }
    }
 }

 
@include media($tablet) { 
    .headerContainer{
        .gnb{
            


        }
    
        .mBtn{
            display: flex;
        }
    }
    .modalWrap {
        .contents{
            max-width: 640px;
        }
    }

    .videoSection{
        .videoFlex{
            @include flex;
            flex-direction: column;

            .a{
                order:1
            }

            .b{
                order:4;
            }

            .c{
                order:2;
            }
            .d{
                order:3;
            }
        }
    }

    .customSection{
        .content{
            @include flex;
            flex-direction: column;

            .a{
                order:2;
            }

            .b{
                order:1;
            }

            .c{
                order:3;
            }

            .d{
                order:4;
                // img{
                //     width: 135px;
                // }
            }
        }
    }

    .tech{
        .cards{
            .items{
                flex-basis: 250px;
                flex-shrink:0;
            }
        }
    }

    .homeNews{
        .newsCards{
            display: flex;

            li{
                flex-basis: 320px;
                flex-shrink: 0;

                .thumb{
                    display: block;
                    height: 190px;
                }
            }
        }

    }

    
}



//  @include media($mobile) { 
//     .modalWrap{
//         .contents{
//             max-width: 
//         }
//     }
//  }


 
 