$imgUrl: "../images/";



//colors
$text: #000000;
$whText: rgba(255, 255, 255, 1);
$mute: #f3f3f3;
$line: #e5e7eb;
$active: #f23322;
$placeholder: #808080;
$bg: rgba(225, 225, 225, 0.2);

$gradientRed: linear-gradient(90deg, #f47725, #EA002C 50%);
$gradientBlue: linear-gradient(90deg, #0072c6, #68127a);
$gradientGreen: linear-gradient(90deg, #97c54d, #3b79b4 80%);
$gradientYellow: linear-gradient(90deg,#fbbc05,#f47725 99.96%);






@mixin color($type: null,$d: 90deg ){
    $c1:#f47725;
    $c2:#EA002C;
    @if ($type == "yellow"){
        $c1:#fbbc05;
        $c2:#f47725;
    } @else if ($type == "green"){
        $c1:#97c54d;
        $c2:#3b79b4;
    } @else if ($type == "blue"){
        $c1:#0072c6;
        $c2:#68127a;
    }
    background-image: linear-gradient($d, $c1, $c2);
}