.visualSlide{

    position:relative;
    height: calc(100vh - 80px);
    display:flex;
    flex-direction:column;
    justify-content:stretch; 
    .slideWrap { 
        position:relative;
        flex:1;   
        .list {
            .item { 
                width:100%;
                height:calc(100vh - 200px);
                &:before {
                    content:'';
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter:blur(20px);
                    @include pos;
                    width: 50%;
                    height: 100%;
                    background-color: rgba(255,255,255,0.5);

                }
                background: no-repeat center center/cover;

                &.a{
                    background-image:url($imgUrl + 'slidePics_0.webp') ;
                }

                &.b{
                    background-image:url($imgUrl + 'slidePics_1.webp') ;
                }
                &.c{
                    background-image:url($imgUrl + 'slidePics_2.webp') ;
                }
            }
            
        }
        
    }

    .slideBottom { 
        flex:0 0 120px;
    }
   
    .contents{
        @include pos($p:relative);
        @extend %mainInner;
        padding-top: 60px;

        .inbox {
            max-width: 588px;
            padding-right: 60px;
        }
        
        h2{
            display: inline-block;
            font-size: 12.5px;
            font-weight: 600;
            line-height: 150%;
            margin-bottom: 20px;
            @include clip;
            background-image:linear-gradient(90deg, #f47725 90%, #EA002C);

            span{
                &:after{
                    display: inline-block;
                    content:'';
                    width: 20px;
                    height: 1px;
                    vertical-align: middle;
                    margin: 0 5px;
                    background-color: #F47725;
                }
            }
        }
        h3{
            font-size: 37px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p{
            font-size: 15.5px;
            font-weight: 400;
            line-height: 175%;
        }
    }
   
    .visualContent{
        @include pos(50%, 50%);
        @extend %mainInner;
        margin:0;
        transform:translateX(-50%);
        z-index:10;
        
        .inbox {
            max-width: 588px;
            padding-right: 60px;
        }
        h3{
            font-size: 15px;
            font-weight: 600; 
            margin-bottom: 20px;
        }
        
        .choose{ 
            .btn {
                background:#fff;
                border:1px solid $active;
                position:relative;
                width: 320px;
                &.red{
                    filter: none;
                }
                span{
                    display: inline-flex;
                    color: $placeholder;
                    justify-content: flex-start;
                    text-transform: lowercase;
                    font-size: 14px;
               }
                .icon {
                    position:relative;
                    background-image: url($imgUrl + 'arrow-multi.svg');
                    background-position: right bottom;
                    background-size: 54px auto;
                    &.open{
                        background-position: right top;
                    }
                }
                &:before {
                    content:''; 
                    width:46px;
                    height:100%;
                    @include gd;
                    @include pos(auto,0,0,0);
                }
                &:after {
                    display:none;
                }

               
            }
            .chooseDrop{
                display: none;
                width: 320px;
                background-color: #fff;
                border:1px solid $active;
                color: $placeholder;
                &.open{
                    display: block;
                }

                .chooseItem{
                    padding:0 10px;
                    &:hover{
                        @include gd;
                        color: $whText;
                    }
                }
                .chooseItem:not(&:first-child){
                    a{
                        border-top: 1px solid $line;
                    }
                }

                a{
                    display: block;
                    padding: 15px 0;
                }
            }
            
        }
        
    }
    .common{
        @extend %mainInner;
        color: $whText;
        font-weight: 500;
        font-size: 11.5px;
        line-height: 1.7;
        @include pos($t:auto, $b:20px,$l:50%);
        transform: translateX(-50%);
    }
}

.slideBottom{
    @include flex($a:stretch);
    .pageWrap{
        @include flex;
        order:2;

        .pager{
            @include flex;
        }
    }

    .logoSlide{
        .logoList{
            @include flex;
            overflow: hidden;
        }
    }

    
    
}


.testChoose {
    
    & > * {
        display:block;
    }

    @include flex($j:flex-start);

    .select {
        background:#fff;
        border:1px solid $active;
        height:40px;
        width:300px;
    }

    .btn-go, .link-go {
        background:$active;
        color:#fff; 
        margin:10px 0;
        height:40px;
        display:inline-block;
        width:100px;
        border:1px solid #fff;
        line-height:40px;
        text-align:center;
    }

    .btn-go {
        display:block;
    }

    display:none;
}

.testChooseDrop {
    display:flex;
    column-gap:20px;
    width:300px;
    display:none;

    ul {
    background-color:#fff;
    padding:10px;
    flex:1;
    }

    li {
        cursor:pointer;
    }

    li:hover {
        color:$active;
    }
}

// main visual slick 
.visualSlide .slick-slider {

    .slick-prev, .slick-next {

        background-color:#F47725;
        
        color:#000;
    }
    // .slick-prev {
    // }

    // .slick-next {

    // }
}

.logoSlide {
    @include flex;
}

.slideBtns {
   width:200px;height:100px;
   flex-shrink:0;
   background-color:tomato;
    outline:1px solid red;
    @include flex($a:center);
     position:fixed;
     z-index:1000000;

     left:50%;top:50%;

     button {
        &:hover {
            opacity:0.5;
        }
     }
}